

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
{% include 'components/navbar.html' %}

{% include 'components/list.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('input[type=checkbox]').on('change', function() {
            var problem_id = $(this).data('id');
            var new_status = $(this).is(':checked');

            $.ajax({
                url: '/update_problem_status',  
                method: 'POST',
                data: {
                    'id': problem_id,
                    'status': new_status
                },
                success: function(response) {
                    console.log('Problem status updated');
                },
                error: function(xhr, status, error) {
                    console.error('Error updating problem status:', error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        function updateProgressBar() {
          const totalQuestions = $('input[type="checkbox"]').length;
          const totalCompleted = $('input[type="checkbox"]:checked').length;
          const progressPercentage = (totalCompleted / totalQuestions) * 100;
      
          // 更新总进度条
          $('#total-progress-bar').css('width', progressPercentage + '%');
          $('.fw-bolder.fs-2').text('(' + totalCompleted + '/' + totalQuestions + ')');
      
          // 更新每个分类的进度条
          $('input[type="checkbox"]').each(function() {
            const category = $(this).data('category');
            const categoryQuestions = $('input[data-category="' + category + '"]').length;
            const categoryCompleted = $('input[data-category="' + category + '"]:checked').length;
            const categoryPercentage = (categoryCompleted / categoryQuestions) * 100;
      
            $('#category-progress-bar-' + category).css('width', categoryPercentage + '%');
            $('#category-progress-bar-' + category).text(categoryCompleted + '/' + categoryQuestions);
          });
        }
      
        // 为所有checkbox添加事件监听器
        $('input[type="checkbox"]').on('change', function() {
          const questionId = $(this).data('id');
          const newStatus = $(this).is(':checked');
          $.post('/update_problem_status', {
            id: questionId,
            status: newStatus
          });
      
          updateProgressBar();
        });
      
        // 页面加载时初始化进度条
        updateProgressBar();
      });
      
</script>
<script>
    $('#reset-progress-btn').on('click', async function() {
        if (confirm('Are you sure you wanna clear all the progress？')) {
          try {
            await $.post('/reset_progress');
            location.reload();  // 重新加载页面以更新进度条和问题状态
          } catch (error) {
            console.error('Error resetting progress:', error);
            alert('An error occurred while resetting progress. Please try again.');
          }
        }
      });
      
      
</script>
</body>
</html>